<div class="col-sm-12 info">
    <div class="profile">
        <img class="pImg" src="./../../assets/profile.jpeg">
    <div class="line">
        <ul>
            <li>
                <div class="liLine"></div>
                <div class="dot row">
                    <div class="col-3">Name</div>
                    <div class="col-8 p-0">Madhur B Kamble</div>
                </div>
            </li>
            <li>
                <div class="liLine"></div>
                <div class="dot row">
                    <div class="col-3">Position</div>
                    <div class="col-8 p-0">Front End Developer</div>
                </div>
            </li>
            <li>
                <div class="liLine"></div>
                <div class="dot row">
                    <div class="col-3">Orgination</div>
                    <div class="col-8 p-0">Tata Consultancy Services Pune</div>
                </div>
            </li>
            <li>
                <div class="liLine"></div>
                <div class="dot row">
                    <div class="col-3">Email ID</div>
                    <div class="col-8 p-0"><a  href="mailto:madhurkamble7@gmail.com">madhurkamble7@gmail.com</a></div>
                </div>
            </li>
            <li>
                <div class="liLine"></div>
                <div class="dot row">
                    <div class="col-3">LinkedIn</div>
                    <div class="col-8 p-0">  <a href="https://www.linkedin.com/in/madhur-kamble/">linkedin.com/in/madhur-kamble</a> </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="Button">
            <a class="button" href="./../../assets/Madhur_Kamble_Resume.pdf" download>Download CV
                <img src="./../../assets/download.png"></a>
    </div>
    </div>
</div>