<div class="col-sm-12">
    <img class="profile"  src="https://media.licdn.com/dms/image/C4D03AQHIQzOzjKSojg/profile-displayphoto-shrink_800_800/0/1635936614325?e=2147483647&v=beta&t=WJnpMlJ5qFrJtjqwoVkpspC8Ucy_-mtDcrUjyYUGLko">
    <p><b>Name</b> - Madhur B Kamble</p>
    <P><b>Position</b> Front End Developer (Tata Consultancy Services Pune)</P>
    <P><b>Email ID</b>– <a  href="mailto:madhurkamble7@gmail.com">madhurkamble7@gmail.com</a></P> 
    <P><b>LinkedIn</b>- <a href="https://www.linkedin.com/in/madhur-kamble/">linkedin.com/in/madhur-kamble</a>
</div>