<div>
    <ul>
        <li>
            <div class="bottom row">
                <div class="col-5">Programming Language </div>
                <div class="col-7">
                    <div class="gridF">
                        <div>
                            <img src="./../../assets/HTML.png">
                        </div>
                        <div>
                            <img src="./../../assets/CSS.png">
                        </div>
                        <div>
                            <img src="./../../assets/TS.png">
                        </div>
                        <div>
                            <img style="border-radius: 7px;" src="./../../assets/JS.png">
                        </div>
                    </div>
                    <!-- HTML, CSS, TypeScript, JavaScript, Java -->


                </div>
            </div>
        </li>
        <li>
            <div class="bottom row">
                <div class="col-5">Framework</div>
                <div class="col-7">
                    <div class="gridF">
                        <div>
                            <img src="./../../assets/Angular.svg.png">
                        </div>
                        <div>
                            <img src="./../../assets/Bootstrap.svg">
                        </div>
                        <div>
                            <img src="./../../assets/Material.png">
                        </div>
                        <div>
                            <img src="./../../assets/angular-form.png">
                        </div>
                    </div>
                    <!-- Angular, Bootstrap, Angular Material, Angular form, Reactive Forms. -->
                </div>
            </div>
        </li>
        <li>
            <div class="bottom row">
                <div class="col-5">Version Control</div>
                <div class="col-7">
                <div class="gridF">
                    <div>
                        <img src="./../../assets/Git.png">
                    </div>
                </div>
            </div>
            </div>
        </li>
        <li>
            <div class="bottom row">
                <div class="col-5">IDEs</div>
                <div class="col-7">
                    <div class="gridF">
                        <div>
                            <img src="./../../assets/VScode.png">
                        </div>
                        <div>
                            <img src="./../../assets/Postman.webp">
                        </div>
                    </div>
                    <!-- VS Code, Postman -->
                </div>
            </div>
        </li>
        <li>
            <div class="bottom row">
                <div class="col-5">Project Management Tool</div>
                <div class="col-7">
                    <div class="gridF">
                        <div>
                            <img src="./../../assets/jira.png">
                        </div>
                        <div>
                            <img src="./../../assets/service-now.png">
                        </div>
                    </div>
                    <!-- VS Code, Postman -->
                </div>
            </div>
        </li>
    </ul>
</div>