<div>
Profection experience
<ul class="decimal">
    <li>
        <div>
            <span>Configuration Management, internal application for Manufacturing unit</span><span>(July 22 -Current)</span>
        </div>
        <div>Company Name - Tata Consultancy Service</div>
        <div>
            <ul class="disc">
                <li>Involved in requirement gathering and analysis on technical approach.</li>
                <li>Developed dynamic and responsive user interfaces using Angular framework</li>
                <li>Designed and implemented modular components and services to ensure code reusability and maintainability throughout the application.</li>
                <li>Integrated Angular's HTTP client module to communicate with RESTful APIs and fetch data from server-side endpoints.</li>
                <li>Utilized version control system i.e. Git to manage codebase changes, collaborate with team members, and track project history.</li>
                <li>Engaged with clients to analyze business requirements and clarify project objectives, subsequently implementing and developing business logic to meet client needs effectively.</li>
                <li>Participating daily scrum call and worked in a Agile projects.</li>
            </ul>
        </div>
    </li>
    <li>
        <div>
            <span>E-commerce site for B2B sells for Manufacturing unit.</span><span>(January 22 – June-22)</span>
        </div>
        <div> Company Name - Tata Consultancy Service</div>
        <div>
            <ul class="disc">
                <li> Develop a Angular application that is compatible with mobile, tablet, and desktop devices.</li>
                <li> Developed dynamic and responsive user interfaces using Angular framework</li>
                <li> Participating daily scrum call and worked in a Agile projects.</li>
                <li> Participated in technical reviews and meetings to refine and refactor software, maintaining code quality, organization and performance.</li>
            </ul>
        </div>
    </li>
</ul>
    
	                                             
     
Personla project
<ul class="decimal">
    <li>
        <span>E-commerce site clone in Angular.</span><span>(August 2021-Novmber 2021)</span> 
    <ul class="disc">
    	<li> The project is development of an e-commerce platform for online product sales.</li>
    	<li> Used JSON Server for backend functionalities and data management. </li>
    	<li> Technical skills employed in its implementation are HTML, CSS, TypeScript, and Angular.</li>
    	<li><a href="https://ecom-wheat.vercel.app/home">click Here</a></li>
    </ul>
    </li>
</ul>



</div>
